// Цвета
$orange: #F6762C;
$darkGradient: linear-gradient(to right top, #1c1c1c, #212121, #262526, #2b2a2b, #312f30);
$lightGradient: linear-gradient(to right top, #1c1c1c, #282828, #343434, #414040, #4e4d4d);
$lightGray: #312F30;