.btn {
    box-shadow: -1px 2px 22px 8px rgba(246, 251, 255, 0.3);
    display: inline-block;
    background-color: $orange;
    border-radius: 10px;
    text-transform: uppercase;
    width: rem(280);
    height: rem(60);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s;
    animation: shadow 1s infinite alternate;
    a {
        text-align: center;
        padding: rem(18) rem(35);
        width: 100%;
        color: #fff;
        font-weight: 500;
        font-size: rem(40);
    }

    &-header {
        display: inline-block;
        display: flex;
        align-items: center;
        justify-content: center;
        width: rem(200);
        height: rem(50);
        a {
            font-size: rem(25);
        }
    }

    &:hover {
        box-shadow: -1px 2px 22px 8px rgba(246, 251, 255, 0.8);
    }

    &-promotion {
        animation: none;
        width: rem(350);
    }
}