.information {
    background-image: $darkGradient;
    color: #fff;
    padding: rem(20) 0;

    &__wrap {
        display: grid;
        grid-template: 4fr repeat(2, 1fr) / repeat(2, 1fr);
        gap: rem(30);
        align-items: center;
    }

    &__image {
        max-width: rem(400);
        max-height: rem(400);
        justify-self: center;
        img {
            width: 100%;
            object-fit: cover;
        }
    }

    &__descr {
        margin: 0 auto;
        font-weight: 400;
        font-size: rem(18);
        line-height: rem(30);
        span {
            font-weight: 700;
            font-size: rem(20);
        }
    }

    &__list {
        justify-self: center;
        grid-column: span 2;
        padding: 0;
        list-style: none;
        display: flex;
        align-items: center;
        gap: rem(50);
        li {
            font-weight: 400;
            font-size: rem(18);
            line-height: rem(30);
            text-transform: uppercase;
        }
    }

    &__btn {
        justify-self: center;
        grid-column: span 2;
    }
}



