.promotion {
    background-image: $lightGradient;
    color: #fff;
    padding: rem(50) 0 rem(20);
    &__title {
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
        font-size: rem(28);
        line-height: rem(27);
        margin-bottom: rem(20);
    }

    &__timer {
        text-align: center;
        margin-bottom: rem(30);
    }

    &__body {
        position: relative;
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: rem(100);
    }

}
.timer {

    &__title {
        margin-bottom: rem(20);
    }

    &__block {
        display: inline-flex;
        justify-content: center;
        background-image: $darkGradient;
        border-radius: 15px;
        border: #fff solid 2px;
        font-size: rem(22);
        padding: rem(25);
        gap: rem(25);
    }

    &__item {
        display: inline-flex;
        align-items: flex-end;
        span {
            font-weight: 700;
            font-size: rem(40);
            line-height: rem(36);
            margin-right: rem(5);
        }
    }
}
.body-promotion {

    &__image {
        max-width: rem(200);
        margin-bottom: rem(20);
        img {
            width: 100%;
            object-fit: cover;
        }
    }

    &__price {
        display: inline-block;
        font-weight: 700;
        font-size: rem(40);
        line-height: rem(36);
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: rem(400);
        border:#fff solid 5px;
        border-radius: 10px;
        padding: rem(50) rem(20);
    }
}
.price {

    &__old {
        font-weight: 500;
        font-size: rem(25);
        text-decoration: line-through;
        margin-right: rem(20);
    }

    &__new {
        position: absolute;
        bottom: 8%;
        left: 20%;
        animation: prise 1s infinite alternate;
        text-shadow: -1px 2px 22px rgba(246, 251, 255, 0.7);
    }
}
.promotion-form {
    &__input {
        border:#fff solid 2px;
        border-radius: 10px;
        margin-bottom: rem(50);
        padding: rem(15) rem(15);
        width: 100%;
        transition: .2s all linear;
        input {
            width: 100%;
            font-size: rem(20);
            outline: none;
			border: none;
            background: none;
            color:#fff;
            &::placeholder {
                color: #fff;
              }
              &:active, :hover, :focus {
                outline: 0;
                outline-offset: 0;
            }
        }
    }
}
.btn {
    font-weight: 700;
    border:#fff solid 2px;
    color:#fff;
    font-size: rem(20);
    cursor: pointer;
    width: 100%;
}

.info-input {
    display: block;
    width: 100%;
    text-align: right;
    margin-bottom: rem(5);
    opacity: 0;
    transition: .2s all linear;
}

@keyframes prise {
    from {
        text-shadow: -1px 2px 22px 8px rgba(246, 251, 255, 0.5);
        font-size: rem(48);
}
    to {
        text-shadow: -1px 2px 25px 15px rgba(246, 251, 255, 0.5);
        font-size: rem(40);
}   
}

.activeInput {
    box-shadow: -1px 2px 22px 8px rgba(246, 251, 255, 0.3);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}