@media (max-width: em(991)) {
    .rewiews {
        &__carousel {
            max-width: rem(450);
        }
    }
    .item-carousel {
        &__text {
            text-align: center;
            font-weight: 400;
            font-size: rem(14);
            line-height: rem(20);
        }

        &__image {
            max-width: 100%;
            max-height: rem(250);
            margin-bottom: rem(20);
        }

        &__name {
            font-size: rem(20);
            line-height: rem(22);
            margin-bottom: rem(10);
        }
    }

    .carousel {
    
        &__btn {
            &_next {
                top: 40%;
                right: 10%;
            }
    
            &_prev {
                top: 40%;
                left: 10%;
            }
        }
    } 
    
    .information {
        &__list {
            gap: rem(20);
            li {
                font-weight: 400;
                font-size: rem(16);
                line-height: rem(20);
            }
        }

        &__descr {
            font-weight: 400;
            font-size: rem(16);
            line-height: rem(25);
            span {
                font-weight: 700;
                font-size: rem(18);
            }
        }
    }
}