@media (max-width: em(767)) {
	.btn {
        width: rem(150);
        height: rem(50);
        a {
            padding: rem(10) rem(25);
            font-size: rem(18);
        }

        &-promotion {
            width: rem(250);
        }
    }

    .header {
        text-align: left;
        padding: rem(10) 0;
    }
    
    .carousel {
    
        &__btn {
            font-size: rem(30);
            position: absolute;
            cursor:pointer;
            &_next {
                top: 40%;
                right: 0;
            }
    
            &_prev {
                top: 40%;
                left: 0;
            }
        }
    }
    
    .promotion {
        &__title {
            font-size: rem(26);
        }

    }
    
    .body-promotion {    
        &__form {
            padding: rem(20) rem(20);
        }
    }

    .promotion-form {
        &__input {
            margin-bottom: rem(20);
        }
    }

    .price {

        &__old {
            font-size: rem(20);
        }
    
    }
}

